@page
@using Microsoft.AspNetCore.Identity
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home";
}

<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">❅</div>
    <div class="snowflake">❅</div>
    <!-- Add more snowflakes as needed -->
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Broughtontown Holiday Desserts</h1>
    <img src="~/images/home/christmas_table.jpg" class="img-fluid mt-4" alt="Christmas Table" />
    <div class="mt-4">
        <a href="/DessertShop" class="btn btn-primary btn-lg m-2">Visit Our Dessert Shop</a>
        @if (!SignInManager.IsSignedIn(User))
        {
            <a href="/Identity/Account/Login" class="btn btn-secondary btn-lg m-2">Login</a>
        }
    </div>
</div>
