@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website and all items associated with it is the work of Brett Smith. This application was used as a final project for the May 2024 Cohort of Code: KY. It's use is for educational purposes only and I make no claims to it's performance, security, or body. It can be used freely without claims of propiety.
</p>

<p>
    Images generated using <a href="https://labs.google/fx" target="_blank">Google's ImageFX generator</a>.
</p>

<p>
    <a href="https://github.com/git/git-scm.com/blob/main/MIT-LICENSE.txt" target="_blank">GNU License on Github</a>
</p>
